<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= "hello world" .toUpperCase() %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil modi tenetur ad vitae ex quaerat eveniet, nobis,
        adipisci iure consectetur, id rerum consequatur cum facilis illo perferendis accusamus eaque maxime!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit tempore distinctio, quod unde expedita excepturi
        temporibus reprehenderit eius ullam cumque. Hic ratione laborum recusandae. Maxime aperiam magni minus
        architecto illum.</p>
</body>

</html>