h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: #f78120 wavy underline;
    letter-spacing: 15px;
    font-size: 80px;
    /* Try Segoe UI first, then Tahoma, then Geneva, ... */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    line-height: 2;
    /* Select the first available font in the monospace font-family */
    font-family: monospace;
}

a {
    text-decoration: none;
}