<%- include('partials/head')%>

    <%- include('partials/navbar')%>

        <h1>The Home Page</h1>
        <h2>
            <%= 'hello world' .toUpperCase() %>
        </h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque nam molestias cupiditate, recusandae libero
            minima, laudantium dolores dolorem quas earum, labore possimus expedita est dolor error modi animi ab
            voluptate! </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sit, voluptatibus maxime aperiam adipisci non
            modi accusamus iste illum nulla cum ad similique dolorem minus, iusto minima laborum odit doloremque.</p>

        <%- include('partials/footer')%>